.banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

.banner__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;

    @include tablet {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

.banner__img {
    display: block;
    width: 41%;
    object-fit: cover;

    @include tablet {
        width: 60%;
        margin: -3% 0 3% 2%;
    }

    @include phone {
        width: 75%;
        margin: -7% 0 8% 1%;
    }

    @include small {
        margin: -7% 0 0 1%;
    }
}

.banner__descr {
    display: flex;
    flex-flow: column wrap;
    width: 40%;
    margin-top: 6.9%;
    margin-left: 1%;

    @include tablet {
        margin-left: 0;
        margin-top: 0;
        text-align: center;
        width: 85%;
    }

    @include phone {
        margin-left: 0;
        margin-top: 0;
        text-align: center;
        width: 95%;
    }
}

.banner__descr-top {
    text-transform: uppercase;
    font-size: rem(72px);
    color: $yellow;
    font-family: "Gagalin";
    width: 93%;
    padding-bottom: 6%;

    @include tablet {
        padding-left: 10%;
        letter-spacing: 3px;
    }

    @include phone {
        padding-left: 7%;
        letter-spacing: 0px;
        padding-bottom: 1%;
    }
}

.banner__descr-bottom {
    text-transform: lowercase;
    font-size: rem(62px);
    line-height: rem(60px);
    font-family: 'Lifehack';
    color: $white;
    width: 98%;

    @include additional {
        font-size: rem(56px);
    }

    @include tablet {
        font-size: rem(62px);
        letter-spacing: 3px;
        padding-left: 5%;
    }

    @include phone {
        font-size: rem(52px);
        letter-spacing: -1px;
        padding-left: 2%;
        line-height: rem(70px);
    }
}