.best {
    background: url('../img/bg-best.jpg') center center no-repeat;
    align-items: center;
    background-size: cover;
    color: $black;

    @include tablet {
        background: url('../img/bg-best-768px.jpg') center center no-repeat;
    }

    @include phone {
        background: url('../img/bg-best-480px.jpg') center center no-repeat;
    }
}

.best__frame {
    @include tablet {
        width: 96%;
    };

    @include phone {
        margin-bottom: 14%;
    };

    @include small {
        margin-bottom: 0;
    }
}

.best__title {
    text-transform: uppercase;
    text-align: center;
    font-size: rem(72px);
    font-family: "Gagalin";
    line-height: rem(64px);
    padding-bottom: 5%;

    @include additional {
        @include phoneGRZ {
            font-size: rem(52px);
            line-height: rem(52px);
            padding-bottom: 1%;
        }
    }

    @include tablet {
        font-size: rem(76px);
        padding-bottom: 8%;
        @include phoneGRZ {
            font-size: rem(52px);
            line-height: rem(52px);
            padding-bottom: 1%;
        }
    }

    @include phone {
        font-size: rem(58px);
        letter-spacing: -1px;
        padding-bottom: 0;
    }
}

.best__list {
    display: flex;
    justify-content: center;

    @include tablet {
        justify-content: space-between;
    }

    @include phone {
        flex-direction: column;
    }
}

.best__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 26%;
    margin-right: 3.5%;

    &:last-child {
        margin-right: 0;
    }

    @include tablet {
        width: 29%;
    }

    @include phone {
        width: 100%;
        flex-direction: row;
    }
}

.best__pic-svg {
    display: block;
    width: 100px;
    height: 100px;
    margin-bottom: 9%;

    @include tablet {
        width: 45%;
        @include smallGRZ {
            margin-bottom: 2%;
            height: 80px;
        }
    }

    @include phone {
        width: 20%;
        min-width: 80px;
        margin-right: 8%;
        margin-left: 3%;
        margin-bottom: 5%;
    }

    @include small {
        margin-right: 3%;
        margin-bottom: 0;
    }
}

.best__pic-svg_meat {
    fill: $red_new;
}

.best__pic-svg_hand {
    fill: $yellow;
}

.best__pic-svg_leaf {
    fill: $green;

    @include phone {
        margin-bottom: 0;
    }
}

.best__descr {
    @include phone {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

.best__subtitle {
    font: {
        size: rem(24px);
        family: "Lifehack";
        weight: 500;
    }
    text-align: center;
    letter-spacing: rem(-1px);
    padding-bottom: 20%;

    @include additional {
        @include phoneGRZ {
            padding-bottom: 5%;
        }
    }

    @include phone {
        padding-bottom: 5%;
        font-size: rem(28px);
        text-align: start;
    }
}

.best__text {
    font: {
        size: rem(14px);
        family: "Ubuntu";
        weight: 300;
    }
    text-align: center;
    line-height: rem(24px);

    @include tablet {
        @include smallGRZ {
            line-height: rem(18px);
        }
    }

    @include phone {
        text-align: start;
        letter-spacing: rem(1px);
        line-height: rem(28px);
    }
}