.menu {
    background: url('../img/bg-menu.jpg') center center no-repeat;
    background-size: cover;
    color: $white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.menu__title {
    text-transform: uppercase;
    font-size: rem(72px);
    line-height: rem(64px);
    font-family: "Gagalin";
    position: absolute;
    top: rem(100px);
    left: rem(80px);
    z-index: 1;

    @include tablet {
        letter-spacing: 3px;
        top: 7rem;
        left: 1.5rem;
    };

    @include phone {
        font-size: rem(60px);
        letter-spacing: -1px;
        top: 3.5rem;
        left: 4.5rem;
    };
}

.menu__frame {
    height: 100vh;
    width: 70%;
    margin-left: auto;

    @include phone {
        width: 90%;
    }
}

.accordeon-vert {
    display: flex;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;

    @include phone {
        width: 90%;
    }
}

.accordeon-vert__list {
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
    width: 100%;
}

.accordeon-vert__item {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: rem(80px);
    justify-content: flex-end;

    transition-property: width;
    transition-duration: .3s;

    @include phone {
        width: 4.7rem;
    };
}

.accordeon-vert__item_meet {
    background: url('../img/accordeon-vert/for-meet-lovers.jpg') center center no-repeat;
    background-size: cover;
}

.accordeon-vert__item_vegan {
    background: url('../img/accordeon-vert/vegan.jpg') center center no-repeat;
    background-size: cover;
}

.accordeon-vert__item_diet {
    background: url('../img/accordeon-vert/diet.jpg') center center no-repeat;
    background-size: cover;
}

.accordeon-vert__item_active {
    width: 50%;
    transition-property: width;
    transition-duration: .3s;

    @include phone {
        width: 65%;
    }
}

.accordeon-vert__item_active .accordeon-vert__subtitle {
    width: 10%;
    max-width: rem(80px);
    color: $yellow;

    @include phone {
        line-height: 4.1rem;
    }
}

.accordeon-vert__item_active .accordeon-vert__text {
    width: 100%;
    padding: 5%;
}

.accordeon-vert__text {
    background-color: rgba(76, 78, 80, .9);
}

.accordeon-vert__subtitle {
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
    min-width: rem(80px);
    height: 100vh;
    font-size: rem(40px);
    font-family: "Gagalin";
    color: $white;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    line-height: rem(80px);
    padding-top: rem(45px);
    cursor: pointer;
    text-decoration: none;

    @include tablet {
        letter-spacing: 1px;
    };

    @include phone {
        padding-top: 4.4rem;
        letter-spacing: 2.5px;
        min-width: 4rem;
        line-height: 4.4rem;
    };
}

.accordeon-vert__text {
    width: 0;
    overflow: hidden;
    font-size: rem(14px);
    font-family: "Ubuntu";
    font-weight: 400;
    line-height: rem(24px);

    transition-property: width;
    transition-duration: .3s;
}