.contacts {
    align-items: center;
    background-size: cover;
    position: relative;
}

.contacts__wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1% 7%;

    @include tablet {
        padding: 1% 1% 1% 3%;
    };

    @include phone {
        flex-direction: column;
        align-items: center;
    };
}

.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

    background: url('../img/bg-delivery2.png') center center no-repeat, 
    url('../img/bg-delivery.jpg') center center no-repeat;
    background-size: cover;
}

.contacts__data {
    display: flex;
    flex-direction: column;
    font-family: "Ubuntu";
    width: 50%;

    @include phone {
        width: 80%;
        align-items: center;
        margin-top: 3.1%;
    };
}

.contacts__address {
    font-size: rem(14px);
    color: $white;
    font-weight: 300;
    padding-bottom: 1%;

    @include phone {
        font-size: rem(16px);
        padding-bottom: 2%;
        text-align: center;
    };
}

.contacts__phone {
    display: flex;
    flex-direction: row;
    align-items: center;

    @include phone {
        width: 50%;
    }

    @include small {
        width: 55%;
    }
}

.contacts__pic {
    fill: $red;
    height: rem(11px);
    width: rem(12px);
}

.contacts__number {
    display: block;
    width: 100%;
    color: $red;
    font-weight: 500;
    padding-left: 2%;
    text-decoration: none;

    @include small {
        width: 150%;
    }
}

.contacts__social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    align-items: center;
}

.social__item{
    margin-left: 3.5%;

    &:first-child {
        margin-left: 0;
    };

    @include tablet {
        margin-left: 5%;
    };

    @include phone {
        margin-left: 9%;
    };
}

.social__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;

    @include phone {
        justify-content: center;
        margin: 7% 0;
    };
}

.social__link {
    display: flex;
}

.social__pic {
    width: rem(23px);
    height: rem(23px);
    fill: $gray;
    transition: .3s;

    &:hover {
        fill: $white;
    };
}

#map {
    width: 100%;
    height: 100%;
}