.work {
    background: url('../img/bg-work1280.jpg') center center no-repeat;
    align-items: center;
    background-size: cover;
    color: $black;
}

.work__frame {
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
        width: 96%;
    }
}

.work__title {
    font: {
        size: rem(72px);
        family: "Gagalin";
    }
    text: {
        align: center;
        transform: uppercase;
    }
    padding-bottom: 5%;

    @include additional {
        @include phoneGRZ {
            font-size: rem(52px);
            padding-bottom: 1%;
        }
    }

    @include tablet {
        font-size: rem(76px);
        @include phoneGRZ {
            font-size: rem(52px);
            padding-bottom: 1%;
        }
        @include smallGRZ {
            font-size: rem(40px);
        }
    }

    @include phone {
        font-size: rem(58px);
    }
}

.work__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    @include additional {
        @include phoneGRZ {
            max-height: 300px;
        }
    }
    @include tablet {
        @include smallGRZ {
            max-height: 270px;
        }
    }
}

.video__contant {
    position: relative;
    max-width: 100%;
    @include additional {
        @include phoneGRZ {
            max-height: 260px;
        }
    }
    @include tablet {
        @include smallGRZ {
            max-height: 230px;
        }
    }
}

.video {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.video__big-button {
    display: block;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background: url('../img/svg/play-white-svg.svg') center center no-repeat;
    cursor: pointer;
}

.player__window {
    width: rem(640px);
    height: rem(400px);
}

.player__control {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    max-width: 640px;
    height: rem(35px);
    background-color: $player-grey-bkg;
    position: relative;
    width: 100%;
}

.player__start-button, .player__volume-button {
    display: block;
    max-width: rem(35px);
    width: 100%;
    height: rem(35px);
    margin: 0 2%;
    position: relative;
}

.player__start, .player__volume {
    cursor: pointer;
}

.player__start_unactive {
    display: none;
}

.player__pause {
    display: none;
    height: 22px;
    width: 4px;
    border-radius: 1px;
    background-color: $player-grey;
    position: absolute;
    top: 5px;
    left: 10px;
    cursor: pointer;

    &:after, &:before {
        content: "";
        display: block;
        height: 22px;
        position: absolute;
        top: 0;
    }

    &:after {
        width: 4px;
        border-radius: 1px;
        background-color: $player-grey;
        left: 10px;
    }

    &:before {
        width: 22px;
        background-color:transparent;
        left: -4px;
    }
}

.player__pause_active {
    display: block;
}

.player__start-svg, .player__volume-svg {
    fill: $player-grey;
    width: rem(35px);
    height: rem(35px);
}

.player__start-svg {
    transform: scale(-1, 1);
}

.player__play-duration, .player__volume-duration {
    height: rem(4px);
    border-radius: 1px;
    background-color: $player-grey;
    position: relative;
}

.player__play-duration {
    max-width: rem(444px);
    width: 100%;
}

.player__volume-duration {
    max-width: rem(58px);
    width: 100%;
    margin-right: 3%;
}

.player__scroll {
    width: rem(12px);
    height: rem(12px);
    border-radius: 50%;
    background-color: $player-grey;
    position: absolute;
    top: -4px;
    cursor:pointer;
}

.player__mute {
    display: none;
    height: 22px;
    width: 4px;
    border-radius: 1px;
    transform: rotate(45deg);
    background-color: $player-grey;
    position: absolute;
    top: 6px;
    left: 16px;
    cursor: pointer;

    &:after {
        content: "";
        display: block;
        height: 22px;
        width: 4px;
        border-radius: 1px;
        transform: rotate(90deg);
        background-color: $player-grey;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.player__mute_active {
    display: block;
}

.player__scroll_volume {
    left: 80%;
}