.pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: rem(20px);
    height: rem(190px);
    position: fixed;
    top: 9.5%;
    left: 95%;
    z-index: 1;

    @include additional {
        @include phoneGRZ {
            top: 25%
        }
    }

    @include tablet {
        display: none;
    }
}

.pagination__link {
    display: block;
    width: rem(6px);
    height: rem(6px);
    border-radius: 50%;
    background-color: $white;
    margin-bottom: rem(14px);
    position: relative;
    cursor: pointer;

    &:last-child {
        margin-bottom: 0;
    }

    &::before {
        content: "";
        display: block;
        width: rem(6px);
        height: rem(6px);
        border-radius: 50%;
        border: rem(1px) solid $white;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .3s;
    }

    &:hover::before {
        width: rem(16px);
        height: rem(16px);
        opacity: 1;
    }
}

.pagination__link_black {
    background-color: $black;
    &:before {
        border: rem(1px) solid $black;
    }
}

.pagination__link_active::before {
    width: rem(16px);
    height: rem(16px);
    opacity: 1;
}