.button {
    border: 0;
    padding: 0.1875rem .9rem;
    border-radius: rem(5px);
    color: $white;
    font-size: rem(13px);
    line-height: rem(30px);
    font-family: "Ubuntu";
    font-weight: 500;
    text-transform: uppercase;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    transition: $transitionDuration;

    //Delete blue mark of tap in mobile version
    -webkit-tap-highlight-color: transparent;

    background-color: $red;
    &:hover {
        background-color: $redHover;
        @include tablet {
            animation: $transitionDuration ease 2 alternate buttonHoverAnime;
            background-color: $red;
        }
    }

    @include phone {
        padding: 0.1875rem 1rem;
        letter-spacing: 1px;
    }
}

.button_clear {
    margin-left: 2%;
    background-color: transparent;

    &:hover {
        background-color: $red;
        @include tablet {
            animation: $transitionDuration ease 2 alternate buttonClearHoverAnime;
            background-color: transparent;
        }
    }
}

//button - hover in mobiles
@keyframes buttonHoverAnime {
    0%    { background-color: $red }
    100%  { background-color: $redHover }
}

//button clear - hover in mobiles
@keyframes buttonClearHoverAnime {
    0%    { background-color: transparent }
    100%  { background-color: $red }
}