.button {
    border: 0;
    padding: 0.1875rem .9rem;
    border-radius: rem(5px);
    background-color: $red;
    color: $white;
    font-size: rem(13px);
    line-height: rem(30px);
    font-family: "Ubuntu";
    font-weight: 500;
    text-transform: uppercase;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    transition: $transitionDuration;

    &:hover {
        background-color: $redHover;
    }

    @include phone {
        padding: 0.1875rem 1rem;
        letter-spacing: 1px;
    }
}

.button_clear {
    margin-left: 2%;
    background-color: transparent;
    transition: $transitionDuration;

    &:hover {
        background-color: $red;
    }
}