.slider {
    background-image: linear-gradient(0deg, #f9b33b 0%, #ea8c38 48%, #f9b33b 74%);
}

.container_slider {
    justify-content: space-between;
    align-items: center;
}

.slider__arrow {
    width: 4.5vw;

    @include tablet {
        margin-bottom: 0.5%;
    }

    @include phone {
        margin-bottom: 7%;
    }
}

.slider__left {
    text-align: -webkit-right;
}

.slider__arrow-img {
    display: block;
}

.slider__watch-zone {
    display: flex;
    width: 81vw;
    height: 135%;
    overflow: hidden;
    max-width: rem(980px);

    @include tablet {
        height: 109%;
        align-items: center;
    }
}

.slider__items {
    display: flex;
    position: relative;
    transition: .2s;

    @include tablet {
        align-items: center;
    }
}

.slider__contant {
    max-width: rem(980px);
    width: 81vw;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet {
        flex-direction: column;
    }
}

.slider__pic {
    width: 48%;
    position: relative;
    
    @include tablet {
        width: 75%;
        margin-bottom: 2%;
        margin-top: 8%;
    }

    @include phone {
        width: 88%;
        margin-bottom: 3%;
        margin-top: 24%;
    }
}

.slider__ingridients, .slider__ccal {
    width: rem(90px);
    height: rem(90px);
    border-radius: rem(5px);
    background-color: $orange;
    position: absolute;
    bottom: 97%;
    left: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include tablet {
        width: 6rem;
        height: 6rem;
        bottom: 95%;
        left: 3%;
    }

    @include phone {
        width: 6.428rem;
        height: 6.428rem;
        bottom: unset;
        top: unset;
        bottom: 95%;
        left: -3.5%;
    }
}

.slider__ingridients-svg {
    fill: $white;
    width: rem(46px);
    height: rem(44px);

    @include phone {
        width: rem(52px);
        height: rem(50px);
    }
}

.slider__ingridients-title {
    font-size: rem(14px);
    color: $white;
    font-family: "Gagalin";
    text-transform: uppercase;
    margin-top: rem(9px);
}

.slider__ingridients-structure {
    width: rem(270px);
    border-radius: 5px;
    display: flex;
    background-color: $white;
    opacity: 0;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: -9999px;
    transition: opacity .6s;
}

.slider__ingridients-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 2% 0;
}

.slider__ingridients-type, .slider__ingridients-weight {
    font-size: 14px;
    color: $black;
    font-family: "Ubuntu";
    font-weight: 500;
}

.slider__ingridients-type {
    width: 30%;
}

.slider__ingridients-weight {
    width: 15%;
    text-align: end;
}

.slider__ingridients:hover .slider__ingridients-structure {
    opacity: .9;
    left: 100%;

    @include phone {
        left: 0;
    }
};

.slider__ccal {
    background-color: transparent;
    top: 97%;
    left: 0;

    @include tablet {
        top: unset;
        bottom: 95%;
        left: 83%;
    }

    @include phone {
        top: unset;
        bottom: 95%;
        left: unset;
        right: -10%;
    }
}

.slider__ccal-svg {
    width: rem(60px);
    height: rem(60px);
    fill: $white;
    opacity: .5;

    @include phone {
        width: 4.285rem;
        height: 4.285rem;
    }
}

.slider__ccal-title, .slider__ccal-number {
    position: absolute;
    text-transform: uppercase;
    font-family: "Gagalin";
    color: $white;
    opacity: .5;
}

.slider__ccal-number {
    font-size: rem(20px);
    top: rem(40px);
    left: rem(30px);

    @include phone {
        top: 2.857rem;
        left: 2.142rem;
    }
}

.slider__ccal-title{
    font-size: rem(14px);
    top: rem(78px);
    left: rem(32px);
    text-transform: uppercase;

    @include phone {
        top: rem(86px);
    }
}

.slider__image {
    display: block;
    object-fit: cover;
    width: 105%;
}

.slider__info {
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @include tablet {
        width: 87%;
        align-items: center;
    }

    @include phone {
        width: 100%;
        align-items: center;
    }
}

.slider__title {
    font-size: rem(72px);
    line-height: rem(65px);
    color: $white;
    font-family: "Gagalin";
    padding-bottom: 10%;

    @include tablet {
        font-size: rem(78px);
        line-height: rem(69px);
        width: 100%;
        text-align: center;
        padding-bottom: 8%;
        letter-spacing: -1px;
    }

    @include phone {
        font-size: rem(57px);
        line-height: rem(59px);
        width: 100%;
        margin-bottom: -2%;
    }
}

.slider__descr {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @include tablet {
        text-align: center;
    }
}

.slider__text {
    font-size: 14px;
    line-height: 24px;
    color: $white;
    font-family: "Ubuntu";
    font-weight: 300;
    margin-bottom: 3%;

    @include tablet {
        margin-bottom: 4.5%;
    }

    @include phone {
        margin-bottom: 2%;
    }
}

.slider__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;

    @include tablet {
        justify-content: center;
    }
}

.slider__rub-num, .slider__rub-let {
    font-size: rem(72px);
    letter-spacing: -2px;
    color: $red_new;
    font-family: "Gagalin";
    
    @include phone {
        font-size: rem(57px);
    }
}

.slider__rub-num {
    margin-right: 2%;
}

.slider__rub-let {
    font-size: rem(32px);
    margin-right: 5%;
}