* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
}

.wrapper {
    display: flex;
    animation: loading .3s;
    flex-direction: column;
}

@keyframes loading {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.container {
    margin: 0px auto;
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
}