$yellow: #f9b43b;
$white: #fff;
$red: #e45028;
$red_new: #e35028;
$black: #2f3234;
$green: #8bc03f;
$gray: #6d6f71;
$lite-gray: #d1cfcb;
$orange: #f08c33;
$player-grey: #626262;
$player-grey-bkg: #3e3e3e;