.banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 12%;
}

.banner__img {
    display: block;
    width: 45%;
    height: 100%;
}

.banner__drops {
    width: 45%;
    height: 50%;
    position: absolute;
    top: 17%;
    left: 6%;
}

.banner__descr {
    display: flex;
    flex-flow: column wrap;
    width: 40%;
    margin-top: 5%;
}

.banner__descr-top {
    text-transform: uppercase;
    font-size: 72px;
    /* line-height: 85px; */
    color: $yellow;
    font-family: "Gagalin";
    width: 85%;
    padding-bottom: 5%;
}

.banner__descr-bottom {
    text-transform: lowercase;
    font-size: 72px;
    font-family: 'Lifehack';
    color: #fff;
    width: 98%;
}