.best {
    background: url('../../img/bg-best.jpg') center center no-repeat;
    align-items: center;
    background-size: cover;
    color: $black;
}

.best__title {
    text-transform: uppercase;
    font-size: 72px;
    line-height: 64px;
    font-family: "Gagalin";
    text-align: center;
    padding-bottom: 5%;
}

.best__list {
    display: flex;
    justify-content: center;
}

.best__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 26%;
    margin-right: 3.5%;

    &:last-child {
        margin-right: 0;
    }
}

.best__pic-svg {
    display: block;
    width: 32%;
    height: 32%;
    margin-bottom: 9%;
}

.best__pic-svg_meat {
    fill: $red_new;
}

.best__pic-svg_hand {
    fill: $yellow;
}

.best__pic-svg_leaf {
    fill: $green;
}

.best__subtitle {
    font-size: 24px;
    letter-spacing: -1px;
    font-family: "Lifehack";
    font-weight: 500;
    text-align: center;
}

.best__text {
    font-size: 14px;
    font-family: "Ubuntu";
    font-weight: 300;
    text-align: center;
    line-height: 24px;
}