.best__title {
    text-transform: uppercase;
    /* font-size: 72px; */
    line-height: 64px;
    color: #2f3234;
    font-family: "Gagalin";
    text-align: center;
}

.best__subtitle {
    font-size: 24px;
    letter-spacing: -1px;
    /* line-height: 28px; */
    color: #2f3234;
    font-family: "Lifehack";
    font-weight: 500;
    text-align: center;
}

.best__text {
    width: 300px;
    height: 68px;
    font-size: 14px;
    /* line-height: 24px; */
    color: #2f3234;
    font-family: "Ubuntu";
    font-weight: 300;
    text-align: center;
}