.contacts {
    background: url('../../img/map-marker.jpg') center center no-repeat;
    align-items: center;
    background-size: cover;
    position: relative;
}

.contacts__wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1% 7%;
}

.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: $black;
}

.contacts__data {
    display: flex;
    flex-direction: column;
    font-family: "Ubuntu";
    width: 50%;
}

.contacts__address {
    font-size: 14px;
    color: $white;
    font-weight: 300;
    padding-bottom: 1%;
}

.contacts__phone {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contacts__pic {    
    fill: #e45028;
    height: 11px;
    width: 12px;
}

.contacts__number {
    color: #e45028;
    font-weight: 500;
    padding-left: 2%;
}

.contacts__social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    align-items: center;
}

.social__item{
    margin-left: 3.5%;

    &:first-child {
        margin-left: 0;
    };
}

.social__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.social__link {
    display: flex;
}

.social__pic {
    width: 23px;
    height: 23px;
    fill: $gray;
    transition: .3s;

    &:hover {
        fill: $white;
    };
}