.gamburger-menu__link {
    display: none;
    width: rem(25px);
    height: rem(25px);
    position: absolute;
    top: 3.5%;
    left: 95%;

    @include tablet {
        display: block;
    }

    @include phone {
        display: block;
        top: 4.5%;
        left: 91%;
    }
}

.gamburger-menu__section {
    display: block;
    width: rem(24px);
    height: rem(4px);
    border-radius: 2px;
    background-color: $white;
    position: relative;

    &:after,
    &:before {
        content: "";
        width: rem(24px);
        height: rem(4px);
        border-radius: 2px;
        position: absolute;
        background-color: $white;
    }

    &:after {
        top: rem(20px);
    }

    &:before {
        top: rem(10px);
    }
}

.gamburger-menu__close {
    width: rem(22px);
    height: rem(22px);
    background: url('../../img/icons/gamburger-menu-close.png') center center;
    position: absolute;
    top: rem(32px);
    right: rem(20px);
    z-index: 20;
}

.gamburger-menu__content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $black;
    opacity: .9;
    z-index: 10;
    align-items: center;
    display: none; //!!!Полноэкранное меню!!!
}

.gamburger-menu__content_active {
    display: flex; //!!!Показать полноэкранное меню!!!
}

.navigation_gamburger {
    display: block;
    width: 100%;
    margin: 0;
}

.navigation__list_gamburger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 420px;
}

.navigation__item_gamburger {
    flex-direction: column;

    &::after {
        width: rem(6px);
        height: rem(6px);
    }
}

.navigation__link_gamburger {
    font-size: rem(24px);
    font-weight: 400;
}

.logo__pic_gamburger {
    position: absolute;
    top: rem(12px);
    left: rem(16px);
}