.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 13px 78px 0px 77px;
}   