.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    flex:2;
    margin-left: 5%;
}

.header__menulist {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header__item {
    display: inline-block;
    font-size: 13px;
    /* line-height: 30px; */
    color: #ffffff;
    font-family: "Ubuntu";
    font-weight: 500;
    /* text-align: right; */
    position: relative;
}

.header__item:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #ffffff;
    margin-left: 32px;
}

.header__item:last-child:after{
    content: "";
    display: none;
}