.wrapper__intro {
    background: url('../../img/bg-intro.jpg') center no-repeat;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}