.scroll {
    display: flex;
    justify-content: center;
    margin-bottom: 5%; /*скорректировать по РР*/
    position: relative;
    height: 14px * 1.3;

    &:hover .scroll__pic {
        top: -5px;
        width: 29px * 1.3;
        height: 14px * 1.3;
    }
}

.scroll__pic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 29px;
    height: 14px;
    transition: .3s;
}